/* Common rules for multiple pages */
h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(141, 111, 56);
}

h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: #666;
}

h4 {
    font-family: 'Lato', sans-serif;
}

.page-title {
    color: #666;
}

/* base.html */
.block-content {
    min-height: 85vh;
}

/* header */
.header {
    height: 150px;
    width: 100%;
}

.nav-list {
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
    column-gap: 20px;
}

.list-item {
    width: min-content;
    white-space: nowrap;
}

.list-item {
    color: rgb(141, 111, 56);
}

.list-item:hover {
    color: rgb(65, 60, 53);
    text-decoration: underline;
}

.hamburger {
    display: none;
    border: none;
    font-size: 1.5rem;
    rotate: 90deg;
    color: rgb(153, 139, 59);
    background-color: #fff;
}

.mobile-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.heading {
    margin-top: 40px;
    width: 340px;
    position: absolute;
    left: 38%;
}

h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3rem;
    color: rgb(141, 111, 56);
}

.earth {
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

.left-leaves {
    width: 280px;
}

.leaf-1 {
    width: 110px;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
}

.leaf-2 {
    width: 110px;
    height: 40px;
    margin-top: 90px;
    margin-left: -40px;
}

.purple-leaf {
    width: 75px;
    height: 62px;
    margin-top: 10px;
    margin-left: -30px;
}

a,
.font-blue,
.btn-link {
    color: rgb(46, 122, 145);
    text-decoration: none;
}

.btn-link {
    font-size: 1.2rem;
}

a:hover,
.btn-link:hover {
    color: rgb(13, 48, 59);
    text-decoration: underline;
}

.btn-link:active {
    outline: none;
}

.like-btn,
.bookmark {
    width: 20px;
    height: 20px;
    margin-top: -3px;
}

.btn:focus,
.btn:active {
    box-shadow: none;
}

.num-likes {
    margin: 3px 0 0 3px;
}

/* post excerpt */
.space-left {
    margin-left: 5px;
}

.space-right {
    margin-right: 3px;
}

.post-title>p,
.post-excerpt>p {
    line-height: 20px;
}

.post-title {
    width: 100%;
    height: 75px;
    word-wrap: break-word;
}

.line {
    display: none;
}

.featured-img {
    width: 100%;
}

.item-left {
    padding-right: 20px;
}

.excerpt-author,
.likes {
    white-space: nowrap;
}

.pub-date {
    margin-top: 0;
}

footer {
    width: 100%;
    height: 60px;
    background-color: #eee;
    margin-top: 40px;
}

.social-networks {
    list-style: none;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.blue-btn {
    padding: 0.3rem 0.9rem;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 80px;
    background-color: rgb(33, 150, 154);
    min-width: 90px;
    border: none;
    outline: none;
    color: #fff;
}

.blue-btn:hover {
    background-color: rgb(201, 208, 213);
    opacity: 0.8;
    outline: none;
    border: none;
    color: #204966;
}

.btn-right {
    margin-left: 5px;
}

.content {
    width: 80%;
}

/*   ------------ index.html ------------------------  */
.intro-box {
    color: rgb(79, 73, 73);
    width: 730px
}

.intro-box p {
    padding: 0 15px;
}

.posts {
    margin-top: 30px;
}

.space-right {
    margin-right: 4px;
}

.links-to-posts {
    margin-top: 50px;
}

.links-to-posts p {
    font-size: 1.4rem;
}

.big-space-right {
    margin-right: 10px;
}

/* -------------- post_detail.html -------------------*/
.title-box>h1 {
    word-wrap: break-word;
    font-size: 2.2rem;
    font-weight: 500;
}

.date-city>ul {
    list-style: none;
}

.title-box {
    width: 60%;
    padding-right: 30px;
}

.img-box {
    width: 40%;
}

.comments-left {
    width: 50%;
}

.comments-right {
    width: 50%;
    padding-left: 50px;
}

.comments-right label,
.update-comment label {
    display: none;
}

.image-wrapper {
    width: 100%;
    aspect-ratio: 3 / 2;
}

.likes-count {
    margin-left: 4px;
}

.heart {
    color: #d87979;
}

.update-form {
    width: 85%;
    margin-right: 8px;
}

/* ---------- search.html -------------------------*/
.item-right {
    margin-left: 10px;
}

.warning {
    color: red;
    margin-left: 10%;
}

/* ----------- update_post.html -------------------*/

.update-post-btn {
    margin-right: 5px;
}

.cancel {
    padding: 0.7rem 1rem;
}

.cancel:hover {
    text-decoration: none;
    color: #fff;
}

/* ---------------- my page -----------*/
.show-posts {
    margin-top: 50px;
}

.date-city {
    width: 100%;
}

.more-posts {
    padding-top: 40px;
}

/* ------ signup.html --------- */
.signup-text {
    width: 382px;
}

#signup_form input,
.login input {
    border: 1px #ccc solid;
    border-radius: 5px;
    line-height: 1.8;
    padding-left: 2px;
}

.signout {
    width: 289px;
}

@media screen and (min-width: 1161px) {
    #nav-menu {
        display: block !important;
        width: 470px;
        margin-top: 50px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 1300px) {
    .heading {
        left: 30%;
    }
}

@media screen and (max-width: 1160px) {
    .hamburger {
        display: block;
        width: 20px;
        height: 20px;
        margin-top: 20px;
        position: absolute;
        top: 53px;
        right: 10px;
    }

    .header {
        flex-direction: column;
        padding: 0 15px;
    }

    .heading {
        left: 40%;
    }

    .nav-menu {
        position: relative;
    }

    .pop-up-menu {
        background-color: #f8f8f8;
        opacity: 0.9;
        position: absolute;
        top: 100px;
        right: 15px;
        z-index: 2;
        padding: 5px 8px;
    }

    .nav-list {
        grid-auto-flow: row;
        list-style-type: none;
        row-gap: 10px;
        column-gap: 0;
        justify-items: start;
    }

    #nav-menu {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .mt-custom {
        margin-top: 40px;
    }

    .content {
        width: 90%;
    }

    .comments-left {
        width: 100%;
    }

    .comments-right {
        width: 100%;
        padding: 0;
    }

    .intro-box {
        width: 85%;
    }

    .leaf-1 {
        width: 90px;
        height: 30px;
        margin-top: 20px;
        margin-left: 10px;
    }

    .leaf-2 {
        width: 90px;
        height: 30px;
        margin-top: 90px;
        margin-left: -40px;
    }

    .purple-leaf {
        width: 65px;
        height: 50px;
        margin-top: 10px;
        margin-left: -30px;
    }

    .earth {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 767px) {
    .post-title {
        height: auto;
    }
}

@media (max-width: 705px) {
    .left-leaves {
        display: none !important;
    }

    .heading {
        margin-left: 30px;
        position: static;
        justify-content: start;
    }
}

@media (max-width: 767px) {

    .individual-post,
    .img-box {
        width: 80%;
        margin: 0 auto;
    }

    .featured-heading {
        margin-left: 50px;
    }

    .line {
        display: block;
        margin-bottom: 40px;
    }

    /* -------- index --------------- */
    .links-to-posts {
        margin-top: 0;
    }

    .links-to-posts p {
        font-size: 1.1rem;
    }

    .posts {
        margin-top: 20px;
    }

    /* ------- post_detail.html --------------*/
    .item-left {
        padding-right: 0;
    }

    .title-box {
        width: 100%;
        padding-right: 0;
    }

    /* --------- my page ----------------------*/
    .show-posts {
        margin-top: 0;
    }
}

@media screen and (max-width: 575px) {
    .intro-box {
        width: 95%;
    }

    .featured-heading {
        margin-left: 20px;
    }

    .item-right {
        margin-left: 0;
        margin-top: 10px;
    }

    .d-sm-mt-custom {
        margin-top: 10px;
    }

    .authentication {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }

    .heading {
        width: 300px;
        margin: 30px 0 0 15px;
    }

    .header {
        padding: 0 0 0 15px;
    }

    .hamburger {
        top: 35px;
    }

    .pop-up-menu {
        top: 40px;
    }

    /* ------- Update Post ------------------------*/
    .update-post-btn-box {
        display: flex;
        flex-direction: column;
        width: 165px;
        margin: 0 auto;
    }

    .update-post-btn {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .cancel {
        margin: 5px auto;
    }
}

@media screen and (max-width: 420px) {
    .hamburger {
        top: 10px;
    }

    .pop-up-menu {
        top: 60px;
        right: 8px;
    }

    .heading {
        margin-top: 60px;
    }

    .featured-heading {
        margin-left: 10px;
    }

    .search-content,
    .individual-post,
    .content,
    .img-box {
        width: 95%;
    }

    .link-to-favorites {
        margin-top: 10px;
    }

    .signup-text {
        width: auto;
    }
}