/* ------------ Common rules for multiple pages ------------------ */
h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(141, 111, 56);
}

h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    color: #666;
}

h4 {
    font-family: 'Lato', sans-serif;
}

.page-title {
    color: #666;
}

/* ------- buttons ------- */
.blue-btn {
    padding: 0.3rem 0.9rem;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 80px;
    background-color: rgb(33, 150, 154);
    min-width: 90px;
    border: none;
    outline: none;
    color: aliceblue;
}

.blue-btn:hover {
    background-color: #204966;
    opacity: 0.8;
    outline: none;
    border: none;
    color: aliceblue;
}

.btn:focus,
.btn:active {
    box-shadow: none;
}

/* ------- base.html ------- */
.block-content {
    min-height: 85vh;
}

/* ------- header ------- */
h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2rem;
    color: rgb(141, 111, 56);
}

.header {
    height: 90px;
    width: 100%;
    background-color: #f2f2f2;
}

.pop-up-menu {
    margin-top: -20px;
}

.heading {
    margin-top: 20px;
}

.nav-list {
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
    padding: 0 0 0 25px;
}

.list-item {
    width: min-content;
    white-space: nowrap;
}

.pop-up-menu>.nav-list .list-item {
    color: rgb(133, 102, 43);
    font-size: 1rem;
}

.pop-up-menu>.nav-list .list-item:hover {
    color: rgb(65, 60, 53);
    text-decoration: underline;
}

.hamburger {
    display: none;
    border: none;
    font-size: 1.5rem;
    rotate: 90deg;
    color: rgb(153, 139, 59);
    background-color: #eee;
}

.mobile-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.leaf-2 {
    width: 70px;
    height: 30px;
    rotate: 10deg;
    margin-left: 15px
}

.leaf-3 {
    width: 40px;
    height: 50px;
    margin: -8px 10px 0 5px;
}

.leaf-4 {
    width: 70px;
    height: 30px;
    rotate: 25deg;
}

.leaf-5 {
    width: 60px;
    height: 50px;
    margin: -5px 0 0 10px;
}

.purple-leaf {
    width: 50px;
    height: 40px;
    rotate: 60deg;
    margin: -12px 0 0 10px;
}

a,
.font-blue,
.btn-link {
    color: rgb(46, 122, 145);
    text-decoration: none;
}

.btn-link {
    font-size: 1.2rem;
}

a:hover,
.btn-link:hover {
    color: rgb(13, 48, 59);
    text-decoration: underline;
}

.btn-link:active {
    outline: none;
}

.num-likes {
    margin: 0 0 0 3px;
}

/* --------- footer --------- */
footer {
    width: 100%;
    height: 60px;
    background-color: #eee;
    margin-top: 40px;
}

.social-networks {
    list-style: none;
}

/* --------- post excerpt --------- */
.space-left {
    margin-left: 5px;
}

.space-right {
    margin-right: 3px;
}

.post-title>p,
.post-excerpt>p {
    line-height: 20px;
}

.post-title {
    width: 100%;
    height: 45px;
    word-wrap: break-word;
}

.line {
    display: none;
}

.featured-img {
    width: 100%;
}

.item-left {
    padding-right: 20px;
}

.excerpt-author,
.likes {
    white-space: nowrap;
}

.pub-date {
    margin-top: 0;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.btn-right {
    margin-left: 5px;
}

.content {
    width: 80%;
}

/* ------------------ index.html ------------------ */
.intro-box {
    color: rgb(79, 73, 73);
    width: 730px
}

.intro-box p {
    padding: 0 15px;
}

.posts {
    margin-top: 30px;
}

.space-right {
    margin-right: 4px;
}

.links-to-posts {
    margin-top: 50px;
}

.links-to-posts h3 {
    font-size: 1.4rem;
    color: rgb(46, 122, 145);
}

.big-space-right {
    margin-right: 10px;
}

/* ------------------ post_detail.html ------------------ */
.title-box>h1 {
    word-wrap: break-word;
    font-size: 2.2rem;
    font-weight: 500;
}

.date-city>ul {
    list-style: none;
}

.title-box {
    width: 60%;
    padding-right: 30px;
}

.img-box {
    width: 40%;
}

.like-btn,
.bookmark {
    width: 30px;
    height: 30px;
    margin-top: -7px;
}

.comments-left {
    width: 50%;
}

.comments-right {
    width: 50%;
    padding-left: 50px;
}

.comments-right label,
.update-comment label {
    display: none;
}

.image-wrapper {
    width: 100%;
    aspect-ratio: 3 / 2;
}

.likes-count {
    margin-left: 4px;
}

.heart {
    color: #d87979;
}

.update-form {
    width: 85%;
    margin-right: 8px;
}

.comment-form form textarea {
    border: solid 1px #ccc;
}

/* ------------------ search.html ------------------ */
.item-right {
    margin-left: 10px;
}

.warning {
    color: red;
    margin-left: 10%;
}

/* ------------------ update_post.html ------------------ */

.update-post-btn {
    margin-right: 5px;
}

.cancel {
    padding: 0.7rem 1rem;
}

.cancel:hover {
    text-decoration: none;
    color: #fff;
}

/* ------------------ my page ------------------ */
.show-posts {
    margin-top: 50px;
}

.date-city {
    width: 100%;
}

.more-posts {
    padding-top: 40px;
}

/* ------------------ signup.html ------------------------ */
.signup-text {
    width: 382px;
}

#signup_form input,
.login input {
    border: 1px #ccc solid;
    border-radius: 5px;
    line-height: 1.8;
    padding-left: 2px;
}

/* ------------------ signout.html ------------------------ */
.signout {
    width: 289px;
}

@media screen and (min-width: 995px) {
    #nav-menu {
        display: block !important;
        width: 470px;
        margin-top: 50px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 994px) {
    .hamburger {
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 28px;
        right: 10px;
    }

    .header {
        flex-direction: column;
    }

    .nav-menu {
        position: relative;
    }

    .pop-up-menu {
        background-color: #e5e5e5;
        opacity: 0.9;
        position: absolute;
        top: 85px;
        right: 15px;
        z-index: 2;
        padding: 10px 15px 0 0;
    }

    .nav-list {
        grid-auto-flow: row;
        list-style-type: none;
        row-gap: 5px;
        column-gap: 0;
        justify-items: start;
        margin-left: -10px;
    }

    #nav-menu {
        display: none;
    }
}

@media screen and (max-width: 991px) {

    .content {
        width: 90%;
    }

    .comments-left {
        width: 100%;
    }

    .comments-right {
        width: 100%;
        padding: 0;
    }

    .intro-box {
        width: 85%;
    }

    /** post detail comment section */
    .mt-custom {
        margin-top: 40px;
    }
}

@media (max-width: 767px) {

    .post-title {
        height: auto;
    }

    .individual-post,
    .img-box {
        width: 80%;
        margin: 0 auto;
    }

    .featured-heading {
        margin-left: 50px;
    }

    .line {
        display: block;
        margin-bottom: 40px;
    }

    /* -------- index --------------- */
    .links-to-posts {
        margin-top: 0;
    }

    .links-to-posts p {
        font-size: 1.1rem;
    }

    .posts {
        margin-top: 20px;
    }

    /* ------- post_detail.html --------------*/
    .item-left {
        padding-right: 0;
    }

    .title-box {
        width: 100%;
        padding-right: 0;
    }

    /* --------- my page ----------------------*/
    .show-posts {
        margin-top: 0;
    }
}

@media screen and (max-width: 620px) {

    .leaf-4,
    .leaf-5 {
        display: none;
    }

}

@media screen and (max-width: 575px) {
    .intro-box {
        width: 95%;
    }

    .featured-heading {
        margin-left: 20px;
    }

    .item-right {
        margin-left: 0;
        margin-top: 10px;
    }

    .d-sm-mt-custom {
        margin-top: 10px;
    }

    .authentication {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {

    .leaf-2 {
        display: none;
    }

    .leaf-3 {
        margin-left: 15px;
    }

    /* ------- Update Post ------------------------*/
    .update-post-btn-box {
        display: flex;
        flex-direction: column;
        width: 165px;
        margin: 0 auto;
    }

    .update-post-btn {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .cancel {
        margin: 5px auto;
    }
}

@media screen and (max-width: 420px) {

    .search-content,
    .individual-post,
    .content,
    .img-box {
        width: 95%;
    }

    .link-to-favorites {
        margin-top: 10px;
    }

    .signup-text {
        width: auto;
    }
}

@media screen and (max-width: 340px) {
    .header {
        height: 100px;
    }

    .hamburger {
        top: 70px;
    }

    .pop-up-menu {
        top: 120px;
        right: 8px;
    }

    .heading {
        margin-top: 20px;
    }
}