/* Common rules for multiple pages */

/* Nav bar ------------------------*/

.burger {
    rotate: 90deg;
    color: rgb(65, 60, 53);
}

.nav-list a {
    color: rgb(141, 111, 56);
    text-decoration: none;
}

.nav-list a:hover {
    color: rgb(65, 60, 53);
    text-decoration: underline;
}

a,
.font-blue {
    color: rgb(46, 122, 145);
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(13, 48, 59);
    text-decoration: underline;
}

.post-text>p {
    line-height: 20px;
}

.image-wrapper {
    width: 100%;
    aspect-ratio: 3 / 2;
}

/*   ------------ index.html ------------------------  */
h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3rem;
    color: rgb(141, 111, 56);
}

.posts {
    margin-top: 40px;
}

image-wrapper {
    width: 510px;
    height: 340px;
}

/* ---------- post_detail.html -------------------- */
.img-box img {
    width: 80%;
    height: auto;
}

.title-img-box .title-box .date-city>ul {
    list-style: none;
}

.btn-submit {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 40%;
    background-color: rgb(141, 111, 56);
    border: none;
    color: #fff;
}