/* Common rules for multiple pages */
#logo {
    width: 35px;
    height: auto;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px 0;
}

.nav-list {
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
    column-gap: 20px;
    padding: 0;
}

.list-item {
    width: min-content;
    white-space: nowrap;
}

.nav-list a {
    color: rgb(141, 111, 56);
}

.nav-list a:hover {
    color: rgb(65, 60, 53);
    text-decoration: underline;
}

.hamburger {
    display: none;
    border: none;
    rotate: 90deg;
    color: rgb(65, 60, 53);
    background-color: #fff;
}

h2 {
    font-family: 'Lato', sans-serif;
    color: rgb(78, 75, 70);
    font-size: 2rem;
}

h4 {
    font-family: 'Lato', sans-serif;
}

a,
.font-blue {
    color: rgb(46, 122, 145);
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(13, 48, 59);
    text-decoration: underline;
}

.login-status {
    color: rgb(65, 60, 53);
    padding-right: 20px;
}

.block-content {
    margin-top: 20px;
    min-height: 80vh;
}

.post-text>p {
    line-height: 20px;
}

.line {
    display: none;
}

.padding-bottom {
    width: 100%;
    height: 90px;
}

.featured-img {
    width: 100%;
}

.item-left {
    padding-right: 20px;
}

.excerpt-author {
    margin-top: 5px;
}

.pub-date {
    margin-top: 0;
}

footer {
    width: 100%;
    height: 60px;
    background-color: #ccc;
}

.social-networks {
    list-style: none;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.btn-right {
    margin-left: 7px;
}

.btn {
    background-color: rgb(141, 111, 56);
    color: #fff;
    font-size: 1rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
}

.btn:hover {
    background-color: rgb(80, 60, 23);
    color: #fff;
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
}

/*   ------------ index.html ------------------------  */
h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3rem;
    color: rgb(141, 111, 56);
}

.earth {
    width: 150px;
    height: auto;
    padding-left: 20px;
}

.intro-box {
    color: rgb(79, 73, 73);
    width: 730px
}

.intro-box p {
    padding: 0 15px;
}

.posts {
    margin-top: 40px;
}

.posts-mt {
    margin-top: 15px;
}

.space-right {
    margin-right: 3px;
}

.links-to-posts {
    margin-top: 50px;
}

.links-to-posts p {
    font-size: 1.4rem;
}

.link-to-favorites {
    margin-top: 20px;
}


/* ---------- post_detail.html -------------------- */
.img-box img {
    width: 80%;
    height: auto;
}

.title-img-box .title-box .date-city>ul {
    list-style: none;
}

.btn-submit {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 5%;
    background-color: rgb(141, 111, 56);
    border: none;
    color: #fff;
}

.comments {
    min-height: 440px;
}

.likes-count {
    margin-top: 5px;
}

/* ----- search.html ------- */
.item-right {
    margin-left: 10px;
}

/* ---------------- my page -----------*/
.show-posts {
    margin-top: 50px;
}

/* --------- update post ------------*/
.cancel:hover {
    text-decoration: none;
}

@media (max-width: 767px) {
    .line {
        display: block;
        margin-bottom: 40px;
    }

    .line-for-lg {
        display: none;
    }

    /* -------- index --------------- */
    .links-to-posts {
        margin-top: 0;
    }

    .links-to-posts p {
        font-size: 1.1rem;
    }

    .posts {
        margin-top: 20px;
    }

    .posts-mt {
        margin-top: 10px;
    }

    /* ------- post_detail.html --------------*/
    .item-left {
        padding-right: 0;
    }

    .title-box {
        width: 100%;
    }

    .img-box {
        width: 100%;
    }

    /* --------- my page ----------------------*/
    .show-posts {
        margin-top: 0;
    }
}



@media screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }

    .mobileHeader {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .header {
        flex-direction: column;
        padding: 20px;
        position: relative;
    }

    .pop-up-menu {
        background-color: #ccc;
        position: absolute;
        top: 50px;
        right: 50px;
        z-index: 2;
        padding: 5px 8px;
    }

    .nav-list {
        grid-auto-flow: row;
        list-style-type: none;
        row-gap: 10px;
        column-gap: 0;
        justify-items: start;
    }

    #nav-menu {
        display: none;
    }

    .block-content {
        margin-top: 20px;
    }

    /* --------- post_detail.html ----------------------*/
    section {
        width: 80%;
        margin: 0 auto;
    }
}


@media screen and (max-width: 575px) {
    .item-right {
        margin-left: 0;
    }

    .keywords {
        margin-top: 7px;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }

    /* ------ index.html ----------------------*/
    .earth {
        width: 30%;
        height: auto;
        padding-left: 15px;
    }

    /* ------- Update Post ------------------------*/
    .update-post-btn-box {
        display: flex;
        flex-direction: column;
        width: 165px;
        margin: 0 auto;
    }

    .update-post-btn,
    .cancel {
        width: 145px;
        margin-bottom: 10px;
        margin-right: 0;
    }

    .cancel {
        margin: 5 auto;
    }
}

@media screen and (max-width: 420px) {

    .intro-box,
    .content,
    .search-contnet,
    section,
    .authentication {
        width: 100%;
    }

    .link-to-favorites {
        margin-top: 10px;
    }
}