{% extends "blog/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container form-section">
    <div class="col-lg-8 offset-lg-2">
        <h1 class="mt-5 mb-4">Write Stories</h1>
        <p class=>If you are taking actions to protect the environment,
            or you have ideas for what individuals can do, share stories.
        </p>
        <form method="post" class="mt-5" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <p class="mt-2"><em>The posts will be reviewed by the editors of the site,
                    and irrelevant posts will be removed without any notice.</em>
            </p>
            <button type="submit" class="beige-btn mt-2" name="save" value="draft">Save</button>
            <button type="submit" class="beige-btn mt-2 btn-right" name="publish" value="complete">Publish</button>
        </form>
    </div>
</div>
{% endblock content %}