{% extends "blog/base.html" %}
{% block content %}
<!-- heading -->
<div class="d-flex justify-content-center mt-4">
    <h1 class="align-self-center">eco post</h1>
    <img src="https://res.cloudinary.com/dacgkk0so/image/upload/v1691891794/blue-earth_dvkptz.png" class="earth"
        alt="blue and green earth">
</div>
<!-- Introduction -->
<div class="d-flex justify-content-center">
    <div class="intro-box mt-2">
        <hr>
        <p>Feeling like individuals can't do much to protect the environment?
            Don't give up. This website is for anyone who wants to find out
            what some local communities and individuals all over the world are doing
            to protect the environment. Read their stories, get inspired,
            exchange ideas and share your stories.
            You can connect with those who are taking actions, join activities
            in your region, or start up your own movements.
        </p>
        <p>In order to submit your own stories for publication and/or leave comments
            on the posts, <a href="{% url 'account_signup' %}">become a member</a>.
        </p>
        <hr>
    </div>
</div>
<!-- Featured stories -->
<div class="d-flex justify-content-center mt-5">
    <div class="content">
        <h2 class="featured-heading">Featured Stories</h2>
        <div class="row posts">
            {% for post in post_list %}
            <div class="col-md-4 individual-post">
                <div class="image-wrapper d-flex justify-content-center">
                    {% if "placeholder" in post.featured_image.url %}
                    <img src="https://res.cloudinary.com/dacgkk0so/image/upload/v1691891851/default-img_ojmwhd.jpg"
                        alt="forest image">
                    {% else %}
                    <img src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                    {% endif %}
                </div>
                <div class="mx-2 mt-2 post-text">
                    <span><strong>{{ post.title }}</strong></span>
                    <span class="text-secondary mr-1 space-left"><i class="far fa-heart heart"></i></span>
                    <span class="text-secondary">{{ post.num_of_likes }}</span><br>
                    <span class="excerpt-author">by {{ post.author }}</span>
                    <div class="d-flex justify-content-end pub-date">
                        <span>{{ post.pub_date }}</span>
                    </div>
                    <p class="mt-1 excerpt">{{ post.excerpt }}</p>
                    <a href="{% url 'detail_page' post.slug %}">Read the full story</a>
                </div>
                <hr class="line">
            </div>
            {% empty %}
            <p>No posts</p>
            {% endfor %}
            <!-- links to 'Recent Stories' and 'Popular Stories' -->
            <div class="links-to-posts">
                <a href="{% url 'more_stories' %}">
                    <p>More stories from this week &raquo;</p>
                </a>
                <a href="{% url 'popular_stories' %}" class="link-to-favorites">
                    <p>Readers' favorite stories of all time &raquo;</p>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}