{% extends "blog/base.html" %}
{% block content %}
<!-- Posts written by the user -->
<div class="d-flex justify-content-center">
    <div class="content my-page">
        <h1 class="mt-5">My Page</h1>
        <h2 class="mt-5 mb-3">Written by Me</h2>
        <div class="row">
            {% for post in my_posts %}
            <div class="col-md-4 individual-post">
                <div class="image-wrapper d-flex justify-content-center">
                    {% if 'default' in post.featured_image.url %}
                    <img src="https://res.cloudinary.com/dacgkk0so/image/upload/v1691891851/default-img_ojmwhd.jpg"
                        class="card-img-top" alt="forest image">
                    {% else %}
                    <img class="card-img-top" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                    {% endif %}
                </div>
                <div class="mx-2 mt-2 post-text">
                    <span><strong>{{ post.title }}</strong></span>
                    <span class="text-secondary mr-1 space-left"><i class="far fa-heart heart"></i></span>
                    <span class="text-secondary">{{ post.num_of_likes }}</span><br>
                    <span class="excerpt-author text-secondary">by {{ post.author }}</span>
                    <div class="date-city text-secondary d-flex justify-content-end">
                        <div>
                            {% if post.status == 1 %}
                            <span>Published on:</span>
                            <p class="my-0">{{ post.pub_date }}</p>
                            <!-- state if the post hasn't been published display the date written -->
                            {% else %}
                            <span>Saved as draft</span>
                            <p class="my-0">{{ post.created_on|date:'M d, Y' }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <p class="mt-1 excerpt">{{ post.excerpt }}</p>
                    <a href="{% url 'detail_page' post.slug %}">Read the full story</a>
                </div>
                <hr class="line">
            </div>
            <!-- If there are more than 3 posts in this category, display them when 'Show more' button is clicked. -->
            {% if my_posts|length > 3 %}
            {% if forloop.counter == 3 %}
        </div>
        <button id="show-my-posts" class="btn btn-link show-posts mb-4">Show more
            <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
        </button>
        <div id="my-posts" class="hide">
            <div class="row mt-2">
                {% elif forloop.last %}
            </div>
            <button class="btn btn-link hide-posts mt-5">Show less
                <span><i class="fa fa-caret-up" aria-hidden="true"></i></span>
            </button>
            {% elif forloop.counter > 3 %}
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <hr class="line-for-lg">
        <div class="row mt-2">
            {% endif %}
            {% endif %}
            {% endif %}
            {% empty %}
            <p>No posts</p>
            {% endfor %}
        </div>
        <!-- Commented Posts -->
        <hr>
        <h2 class="mt-5 mb-3">Commented by Me</h2>
        <div class="row">
            {% for post in commented_posts %}
            <div class="col-md-4 individual-post">
                <div class="image-wrapper d-flex justify-content-center">
                    {% if 'default' in post.featured_image.url %}
                    <img src="https://res.cloudinary.com/dacgkk0so/image/upload/v1691891851/default-img_ojmwhd.jpg"
                        class="card-img-top" alt="forest image">
                    {% else %}
                    <img class="card-img-top" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                    {% endif %}
                </div>
                <div class="mx-2 mt-2 post-text">
                    <span><strong>{{ post.title }}</strong></span>
                    <span class="text-secondary mr-1 space-left"><i class="far fa-heart heart"></i></span>
                    <span class="text-secondary">{{ post.num_of_likes }}</span><br>
                    <span class="excerpt-author text-secondary">by {{ post.author }}</span>
                    <div class="date-city d-flex justify-content-end">
                        <p class="my-0 text-secondary">{{ post.pub_date }}</p>
                    </div>
                    <p class="mt-1 excerpt">{{ post.excerpt }}</p>
                    <a href="{% url 'detail_page' post.slug %}">Read the full story</a>
                </div>
                <hr class="line">
            </div>
            {% if commented_posts|length > 3 %}
            {% if forloop.counter == 3 %}
        </div>
        <button class="btn btn-link show-posts mb-4">Show more
            <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
        </button>
        <div class="hide">
            <div class="row mt-2">
                {% elif forloop.last %}
            </div>
            <button class="btn btn-link hide-posts mt-5">Show less
                <span><i class="fa fa-caret-up" aria-hidden="true"></i></span>
            </button>
            {% elif forloop.counter > 3 %}
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <hr class="line-for-lg">
        <div class="row mt-2">
            {% endif %}
            {% endif %}
            {% endif %}
            {% empty %}
            <p>No posts</p>
            {% endfor %}
        </div>
        <!-- Bookmarked Posts -->
        <hr>
        <h2 class="mt-5 mb-3">Bookmarked by Me</h2>
        <div class="row">
            {% for post in bookmarked_posts %}
            <div class="col-md-4 individual-post">
                <div class="image-wrapper d-flex justify-content-center">
                    {% if 'default' in post.featured_image.url %}
                    <img src="https://res.cloudinary.com/dacgkk0so/image/upload/v1691891851/default-img_ojmwhd.jpg"
                        class="card-img-top" alt="forest image">
                    {% else %}
                    <img class="card-img-top" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                    {% endif %}
                </div>
                <div class="mx-2 mt-2 post-text">
                    <span><strong>{{ post.title }}</strong></span>
                    <span class="text-secondary mr-1 space-left"><i class="far fa-heart heart"></i></span>
                    <span class="text-secondary">{{ post.num_of_likes }}</span><br>
                    <span class="excerpt-author text-secondary">by {{ post.author }}</span>
                    <div class="date-city d-flex justify-content-end">
                        <p class="my-0 text-secondary">{{ post.pub_date }}</p>
                    </div>
                    <p class="mt-1 excerpt">{{ post.excerpt }}</p>
                    <a href="{% url 'detail_page' post.slug %}">Read the full story</a>
                </div>
                <hr class="line">
            </div>
            {% if bookmarked_posts|length > 3 %}
            {% if forloop.counter == 3 %}
        </div>
        <button class="btn btn-link show-posts mb-4">Show more
            <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
        </button>
        <div class="hide">
            <div class="row mt-2">
                {% elif forloop.last %}
            </div>
            <button class="btn btn-link hide-posts mt-5">Show less
                <span><i class="fa fa-caret-up" aria-hidden="true"></i></span>
            </button>
            {% elif forloop.counter > 3 %}
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <hr class="line-for-lg">
        <div class="row mt-2">
            {% endif %}
            {% endif %}
            {% endif %}
            {% empty %}
            <p>No posts</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}