<!-- For "My page," display show more and show less buttons
    if there are more than 3 posts in one category.-->
<div class="row">
    {% for post in posts %}
    {% include "blog/post_excerpt.html" %}
    <!-- If there are more than 3 posts in this category, initially display only three posts.
        Display the rest if 'Show more' button is clicked. -->
    {% if posts|length > 3 %}
    {% if forloop.counter == 3 %}
</div>
<button id="show-my-posts" class="btn btn-link show-posts mb-1 show">Show more
    <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
</button>
<div id="my-posts" class="hide more-posts">
    <div class="row mt-2">
        {% elif forloop.last %}
    </div>
    <button class="btn btn-link hide-posts mt-5">Show less
        <span><i class="fa fa-caret-up" aria-hidden="true"></i></span>
    </button>
    {% elif forloop.counter > 3 %}
    {% if forloop.counter|divisibleby:3 %}
</div>
<div class="row mt-2">
    {% endif %}
    {% endif %}
    {% endif %}
    {% empty %}
    <p>No posts</p>
    {% endfor %}
</div>