{% extends "blog/base.html" %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="content">
        <h2 class="page-title mt-5"><i class="fa-brands fa-pagelines big-space-right"></i>{{page_title}}</h2>
        <div class="row posts">
            {% for post in object_list %}
            {% include "blog/post_excerpt.html" %}
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <hr class="d-none d-lg-block mt-5">
        <div class="row posts">
            {% endif %}
            {% empty %}
            <p>No posts</p>
            {% endfor %}
        </div>
        {% include "blog/pagination.html" %}
    </div>
</div>
{% endblock %}