<div class="col-md-4 individual-post">
    <div class="image-wrapper d-flex justify-content-center">
        {% if 'default' in post.featured_image.url %}
        <img src="https://res.cloudinary.com/dacgkk0so/image/upload/v1691891851/default-img_ojmwhd.jpg"
            class="card-img-top" alt="forest image">
        {% else %}
        <img src="{{ post.featured_image.url }}" class="card-img-top" alt="{{ post.title }}">
        {% endif %}
    </div>
    <div class="mt-2 post-title">
        <span><strong>{{ post.title }}</strong></span>
        <span class="excerpt-author text-secondary">
            <em>by {{ post.author }}</em>
        </span>
        <span class="likes text-secondary">
            <i class="fa-regular fa-heart space-left space-right"></i>{{ post.num_of_likes }}
        </span>
    </div>
    <div class="d-flex justify-content-end pub-date">
        <span>{{ post.pub_date }}</span>
    </div>
    <div class="post-excerpt">
        <p class="mt-1 excerpt">{{ post.excerpt }}</p>
        <a href="{% url 'detail_page' post.slug %}">Read the full story</a>
    </div>
    <hr class="line">
</div>