{% extends "blog/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="container mt-4">
        <div class="row">
            <div class="offset-md-1">
                <h1>Search Stories</h1>
            </div>
        </div>
        <!-- Search form -->
        <form method="get" class="search-form">
            <div class="row mt-2">
                <div class="col-md-5 offset-md-1 col-12">
                    <div class="form-lable-group">
                        {{postForm.form.title.label_tag}}
                        {% render_field postForm.form.title class="form-control" %}
                    </div>
                </div>
                <div class="col-md-5 col-12">
                    <div class="form-lable-group">
                        {{postForm.form.author__username.label_tag}}
                        {% render_field postForm.form.author__username class="form-control" %}
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-5 offset-md-1 col-12">
                    <div class="form-lable-group">
                        {{postForm.form.keyword.label_tag}}
                        {% render_field postForm.form.keyword class="form-control" %}
                    </div>
                </div>
                <div class="col-md-3 col-9">
                    <div class="form-lable-group">
                        {{postForm.form.num_of_likes.label_tag}}
                        {% render_field postForm.form.num_of_likes class="form-control" %}
                    </div>
                </div>
                <div class="col-md-2 col-3 align-self-end">
                    <span>times</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-5 offset-md-1 col-12">
                    <div class="form-lable-group">
                        <span>Published date range</span>
                        {{postForm.form.published_after.label_tag}}
                        {% render_field postForm.form.published_after class="form-control" %}
                    </div>
                </div>
                <div class="col-md-5 col-12">
                    <div class="form-lable-group">
                        {{postForm.form.published_before.label_tag}}
                        {% render_field postForm.form.published_before class="form-control" %}
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-5 offset-md-1 col-12">
                    <div class="form-lable-group">
                        {{postForm.form.city.label_tag}}
                        {% render_field postForm.form.city class="form-control" %}
                    </div>
                </div>
                <div class="col-md-5 col-12">
                    <div class="form-lable-group">
                        {{postForm.form.category.label_tag}}
                        {% render_field postForm.form.category class="form-control" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="offset-md-1">
                    <button class="blue-btn mt-3" type="submit" name="search">search</button>
                    <button class="blue-btn mt-3 btn-right" type="submit">clear form</button>
                </div>
            </div>
        </form>
        <!-- Search results -->
        {% if search %}
        {% if no_input %}
        <p class="warning mt-3">Please enter at least one field.</p>
        {% else %}
        <div class="row posts">
            <h2>Search Results</h2>
            {% for post in posts %}
            <!-- display 3 posts in a row -->
            <div class="col-md-4 individual-post">
                <div class="image-wrapper d-flex justify-content-center">
                    {% if 'default' in post.featured_image.url %}
                    <img src="https://res.cloudinary.com/dacgkk0so/image/upload/v1691891851/default-img_ojmwhd.jpg"
                        class="card-img-top" alt="forest image">
                    {% else %}
                    <img src="{{ post.featured_image.url }}" class="card-img-top" alt="{{ post.title }}">
                    {% endif %}
                </div>
                <div class="mt-2 post-title">
                    <span><strong>{{ post.title }}</strong></span>
                    <span class="excerpt-author text-secondary">
                        <em>by {{ post.author }}</em>
                    </span>
                    <span class="likes text-secondary">
                        <i class="fa-regular fa-heart space-left space-right"></i>{{ post.num_of_likes }}
                    </span>
                </div>
                <div class="d-flex justify-content-end pub-date">
                    <span>{{ post.pub_date }}</span>
                </div>
                <div class="post-excerpt">
                    <p class="mt-1 excerpt">{{ post.excerpt }}</p>
                    <a href="{% url 'detail_page' post.slug %}">Read the full story</a>
                </div>
                <hr class="line">
            </div>
            <!-- For every 3 posts, open a new row -->
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <hr class="line-for-lg">
        <div class="row posts">
            {% endif %}
            {% empty %}
            <p>No posts</p>
            {% endfor %}
        </div>
        <!-- if there are more than 6 posts, display links 'NEXT' and/or 'PREV' -->
        {% include "blog/pagination.html" %}
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}