{% extends "blog/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="col-lg-8 offset-lg-2">
        <h1>Update your story</h1>
        <form method="POST" class="mt-3" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="mt-3">
                <p class="mt-2">By clicking 'Submit' you'll submit the draft to be evaluated
                    for publication. Once submitted, you won't be able to edit or delete it.
                </p>
                <div class="update-post-btn-box">
                    <button type="submit" class="blue-btn update-post-btn" name="save" value="draft">Save
                        changes</button>
                    {% if post.status == 0 %}
                    <button type="submit" class="blue-btn update-post-btn submit-post" name="publish"
                        value="complete">Publish</button>
                    {% endif %}
                    <a href="{% url 'detail_page' post.slug %}" class="blue-btn cancel">Cancel Update</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}