{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<main class="justify-content-center container">
    <section class="row d-md-flex title-img-box mt-2">
        <div class="col-md-6 title-box">
            <h1>{{ post.title }}</h1>
            <span class="mt-3">by {{ post.author }}</span>
            <div class="date-city d-flex justify-content-end container">
                <ul>
                    {% if post.status == 2 %}
                    <li>Published on {{ post.published_on|date:'M d, Y' }}</li>
                    {% else %}
                    <!-- if not published, state the date created. -->
                    <li>Written on {{ post.created_on|date:'M d, Y' }}
                        (Not publshed)
                    </li>
                    {% endif %}
                    <li>{{ post.city }}, {{ post.country.name }}</li>
                </ul>
            </div>
        </div> <!-- title-box -->
        <div class="img-box col-md-6 container">
            <div class="image-wrapper">
                {% if "placeholder" in post.featured_image.url %}
                default image
                {% else %}
                <img src="{{ post.featured_image.url }}" class="ml-3" alt="{{ post.title }}">
                {% endif %}
            </div>
            <!-- likes and bookmark buttons -->
            <div class="d-flex justify-content-start">
                <!-- if the post has been published and the user is logged in show 'like' buttons -->
                {% if post.status == 2 %}
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                    {% csrf_token %}
                    <!-- if liked, show a solid heart -->
                    {% if liked %}
                    <button type="submit" name="unlike" value="{{post.slug}}" class="btn">
                        <i class="fa-solid fa-heart"></i>
                    </button>
                    <!-- if not liked, show a heart outline -->
                    {% else %}
                    <button type="submit" name="like" value="{{post.slug}}" class="btn">
                        <i class="fa-regular fa-heart"></i>
                    </button>
                    {% endif %}
                </form>
                {% else %}
                <!-- if not logged in, show a heart (without 'like' button function) -->
                <span><i class="far fa-heart space-right"></i></span>
                {% endif %}
                <span class="text-secondary mt-2">{{ post.num_of_likes }}</span>
                <!-- bookmark -->
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'bookmark' post.slug %}" method="POST">
                    {% csrf_token %}
                    <!-- if already bookmarked, show a filled-out book icon -->
                    {% if bookmarked %}
                    <button type="submit" name="unbookmark" value="{{post.slug}}" class="btn">
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                    </button>
                    <span class="text-secondary">Bookmarked</span>
                    {% else %}
                    <!-- if not bookmarked, show the outline of a book icon -->
                    <button type="submit" name="bookmark" value="{{post.slug}}" class="btn">
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                    </button>
                    <span class="text-secondary">Click to bookmark</span>
                    {% endif %}
                </form>
                {% endif %}
                {% endif %}
            </div>
            <!--end of likes and bookmark -->
        </div> <!-- img-box -->
    </section>
    <section class="post-content mt-3">
        <div>{{ post.content | safe }}</div>
        <!-- Update and Delete buttons, if the user is the author, and the post hasn't been submitted -->
        {% if post.status == 0 %}
        {% if post.author == user %}
        <div class="mt-3 d-flex justify-content-start">
            <form method="GET" action="{% url 'update_post' post.slug %}">
                {% csrf_token %}
                <button class="btn btn-submit" name="update-post" type="submit">update</button>
            </form>
            <form method="POST" id="delete-post" action="#">
                {% csrf_token %}
                <button type="submit" class="btn btn-submit btn-right" name="delete_post"
                    value="{{post.slug}}">delete</button>
            </form>
        </div>
        {% endif %}
        {% endif %}
    </section>
    <!-- Comments section if the post has been published -->
    {% if post.status == 2 %}
    <section class="row d-lg-flex mt-5 comments">
        <div class="comments-left col-lg-7">
            <h2>Comments</h2>
            {% for comment in comments %}
            <!-- if the comment has been edited, say 'edited.' -->
            <div id="comment-box">
                {% if comment.comment_status != 2 %}
                <div class="d-flex justify-content-between mb-2">
                    <span>{{ comment.commenter }}:</span>
                    <span>{{ comment.created_on|date:'M d, Y' }}</span>
                </div>
                {% if comment.comment_status == 1 %}
                <span class="text-muted">edited</span>
                {% endif %}
                {{ comment.body | linebreaks }}
                {% endif %}
                <!-- if the comment has been deleted, say 'comment deleted.' -->
                {% if comment.comment_status == 2 %}
                <p class="text-muted mb-2">Comment deleted</p>
                {% endif %}
                <hr>
            </div>
            <!-- if no comments, say 'no comments' -->
            {% empty %}
            <p>No comments</p>
            {% endfor %}
        </div>
        <div class="mt-custom comments-right col-lg-5">
            <!-- if user is logged in, invite them to leave comments -->
            {% if user.is_authenticated %}
            <h2>Leave a comment:</h2>
            <p class="mt-3">Posting as: {{ user.username }}</p>
            <form method="post" class="mt-3">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn-submit btn-lg mt-3" name="submit-comment">post</button>
            </form>
            {% else %}
            <!-- if user is not logged in, provide the links to sign up or sign in -->
            <h2>Want to leave comments?</h2>
            <p>
                <a href="#">Become a member</a>or
                <a href="#">Log in</a>.
            </p>
            {% endif %}
        </div>
    </section>
    {% endif %}
</main>
{% endblock content %}