{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="search-content">
        <h1 class="mt-3">Search Posts</h1>
        <form method="GET" action="{% url 'search' %}">
            {% csrf_token %}
            <!-- Search by title -->
            <div class="row">
                <div class="d-sm-flex mt-3 col-md-5">
                    <label for="title_input" class="col-form-label">Title</label>
                    <div class="item-right">
                        <input id="title_input" class="form-control border-right-0 border" type="search"
                            name="title_input">
                    </div>
                </div>
                <!-- Search by author -->
                <div class="d-sm-flex mt-3 col-md-5">
                    <label for="author_input" class="col-form-label">Author</label>
                    <div class="item-right">
                        <input id="author_input" class="form-control border-right-0 border" type="search"
                            name="author_input">
                    </div>
                </div>
            </div>
            <!-- Search by keywords -->
            <div class="d-sm-flex mt-3">
                <label for="keywords" class="col-form-label">Keyword(s): Title or Content contains</label>
            </div>
            <div class="d-sm-flex">
                <div>
                    <input class="form-control" type="search" name="keyword_1">
                </div>
                <div class="item-right d-sm-mt-custom">
                    <input class="form-control keywords" type="search" name="keyword_2">
                </div>
                <div class="item-right">
                    <input class="form-control keywords" type="search" name="keyword_3">
                </div>
            </div>
            <!-- Search by number of likes -->
            <div class="d-sm-flex mt-4">
                <label for="liked_count_min" class="col-form-label">Liked</label>
                <div class="item-right">
                    <input type="number" min=0 class="form-control" id="liked_count_min" placeholder=0
                        name="liked_count_min">
                </div>
                <span class="item-right col-form-label">times or more</span>
            </div>
            <!-- Search by published dates -->
            <div class="d-sm-flex mt-4">
                <div class="form-group">
                    <label for="date_min">Published after:</label>
                    <input type="date" class="form-control mt-2" id="date_min" name="date_min">
                </div>
                <div class="form-group item-right d-sm-mt-custom">
                    <label for="date_max">Published before:</label>
                    <input type="date" class="form-control mt-2" id="date_max" name="date_max">
                </div>
            </div>
            <!-- Search by category -->
            <div class="form-group d-sm-flex mt-4">
                <label for="category" class="col-form-label">Category</label>
                <select id="category" class="form-control item-right" name="category">
                    <option selected>Choose...</option>
                    {% for category in categories %}
                    <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Search by city -->
            <div class="d-sm-flex mt-4">
                <label for="city" class="col-form-label">City</label>
                <input id="city" class="form-control border-right-0 border item-right" type="search" name="city">
            </div>
            <!-- Search by country -->
            <div class="form-group d-sm-flex mt-3">
                <label for="country" class="col-form-label">Country</label>
                <select id="country" class="form-control item-right" name="country">
                    <option selected>Choose...</option>
                    {% for country in countries %}
                    <option value="{{ country }}">{{ country }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn-lg btn-submit mt-3" name="search" value="search">Search</button>
        </form>
    </div>
</div>
<div id="results">
    <!-- if 'Search' has been clicked, display search results.  -->
    {% if search_clicked %}
    <hr />
    <h3 mt-3>Search Results</h3>
    <!-- if no input was given, tell them to enter at least one field. -->
    {% if no_input %}
    <p>Please enter at least one field</p>
    {% elif not queryset %}
    <!-- if no matching results were found -->
    <p>No matching results found</p>
    {% endif %}
    <div class="row">
        {% for post in queryset %}
        <!-- display excerpts of matching posts -->
        <div class="col-md-4">
            <div class="image-wrapper d-flex justify-content-center">
                {% if "placeholder" in post.featured_image.url %}
                <img class="card-img-top"
                    src="https://res.cloudinary.com/ds66fig3o/image/upload/v1683383811/juuj0wzknxo1vehzgsrp.jpg"
                    alt="forest graphic">
                {% else %}
                <img class="card-img-top" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                {% endif %}
            </div>
            <div class="mx-2 mt-2 post-text">
                <span><strong>{{ post.title }}</strong></span>
                <span class="item-right"><i class="far fa-heart"></i></span>
                {{ post.num_of_likes }}</span><br>
                <span class="excerpt-author">By {{ post.author }}</span>
                <div class="d-flex justify-content-end pub-date">
                    <span>{{ post.pub_date }}</span>
                </div>
                <p class="mt-1 excerpt">{{ post.excerpt }}</p>
                <a href="{% url 'detail_page' post.slug %}">Read the full story</a>
            </div>
            <hr class="line">
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <hr />
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="padding-bottom"></div>
</div>
{% endblock %}