{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <form method="POST">
            {% csrf_token %}
            <h4>Update Comment</h4>
            {{ comment_form | crispy}}
            <div class="mt-3">
                <input type="submit" class="button-submit" value="save">
                <a href="{% url 'detail_page' slug %}" class="button-submit cancel cancel-comment btn-right">cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}